* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    height: 100vh;
    background-image: url('img.gif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:3rem;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 25px;
}
.container {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}

.img-box{
   
    width:50%;
    height:100%;
    
}
.registration-container {
    text-align: center;
    width: 40%;
    background-color: black;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin-right: 150px;
}

.registration-form h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #ddd;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #2C2C2C;
    color: #fff;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group-inline .form-group {
    flex: 1;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0057ff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0041cc;
}

.inquiry {
    display: flex;
    justify-content: center;
    align-items: center;
  background: transparent;
    backdrop-filter: blur(8px);
    color: #bbb;
    padding: 2px;
    border-radius: 10px;
    font-size: 0.9rem;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 150px;
   
}
